<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="car01" class="com.fic091.bean.Car">
        <property name="carName" value="宝马"></property>
        <property name="color" value="绿色"></property>
        <property name="price" value="1000"></property>
    </bean>
    <bean id="book02" class="com.fic091.bean.Book">
        <property name="author" value="罗贯中"></property>
        <property name="bookName" value="三国演义"></property>
    </bean>
    <bean id="person01" class="com.fic091.bean.Person">
        <property name="car" ref="car01"></property>
        <property name="books">
            <list>
                <bean class="com.fic091.bean.Book" p:author="吴承恩" p:bookName="西游记"></bean>
                <ref bean="book02"></ref>
            </list>
        </property>
    </bean>

    <bean id="airplane01" class="com.fic091.factory.AirplaneStaticFactory"
    factory-method="getAirplane">
        <constructor-arg name="jzName" value="jiebao"></constructor-arg>
    </bean>

    <bean id="airplaneInstanceFactory" class="com.fic091.factory.AirplaneInstanceFactory"></bean>
    <bean id="airplane02" class="com.fic091.bean.Airplane"
    factory-bean="airplaneInstanceFactory" factory-method="getAirplane">
        <constructor-arg name="jzName" value="jiebao2"></constructor-arg>
    </bean>

    <bean class="com.fic091.factory.MyFactoryBeanImple" id="myFactoryBeanImple"></bean>

    <bean id="person" class="com.fic091.bean.Person">

    </bean>
</beans>