<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--注册一个Person对象-->
    <bean class="com.fic091.bean.Person" id="person01">
        <property name="age" value="24"></property>
        <property name="lastName" value="jiebao"></property>
        <property name="gender" value="male"></property>
        <property name="email" value="jiebao@qq.com"></property>
    </bean>
    <bean id="person02" class="com.fic091.bean.Person">
        <property name="lastName" value="jiebao2"></property>
    </bean>

    <bean id="person03" class="com.fic091.bean.Person">
       <!--调用有参构造器-->
        <constructor-arg name="age" value="24"></constructor-arg>
        <constructor-arg name="email" value="jiebao3@qq.com"></constructor-arg>
        <constructor-arg name="gender" value="male"></constructor-arg>
        <constructor-arg name="lastName" value="jiebao3"></constructor-arg>
    </bean>

    <bean id="person04" class="com.fic091.bean.Person" p:age="18" p:email="jiebao4@qq.com" p:gender="male" p:lastName="jiebao04" >
    </bean>
</beans>